
button {
  display: inline;
  margin-right: 30px; 
  border: px solid;
  padding: 5px; 
}

.filter-selected {
background-color: #7a4e4e;
}

.filter {
background-color: #96d4fd;
}

.portfolioList {
display: inline-block;
margin: 15px 0;
column-count: 3;
column-gap: normal;

}
#root {
text-align: center;
}

img {
margin: 5px 0px;
}